/* General Styles */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a;
  font-family: Arial, sans-serif;
}

::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Authentication Container */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #1a1a1a;
}

/* Login Container */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 1000px;
  max-width: 90vw;
  text-align: center;
}

/* Content Wrapper */
.content-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* Truck Image */
.truck-image {
  max-width: 40%;
  height: auto;
  animation: moveTruck 1s ease-out;
}

@keyframes moveTruck {
  0% {
    transform: translateX(100vw); /* Start off-screen to the right */
    opacity: 0;
  }
  50% {
    opacity: 1; /* Gradually appear */
  }
  100% {
    transform: translateX(0); /* End at its original position */
    opacity: 1;
  }
}

/* Form Container */
.form-container {
  width: 60%;
}

.form-container h2 {
  color: #D4AF70;
  text-align: center;
  margin-bottom: 10px;
}

.form-container p {
  color: #D4AF70;
  text-align: center;
  margin-bottom: 20px;
}

.form-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #D4AF70;
  border-radius: 4px;
  background-color: transparent;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.form-container button {
  padding: 10px;
  background-color: #D4AF70;
  color: #111;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #f0c674;
}

/* Toggle Button */
.toggle-button {
  background-color: transparent;
  color: #D4AF70;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  font-size: 14px;
  
  text-decoration: underline;
}

.toggle-button:hover {
  color: #f0c674;
}

/* Slider Button */
.slider-button {
  padding: 10px 20px;
  background-color: #D4AF70;
  color: #111;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 16px;
}

/* Keyframe animation for sliding in from the left */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Add this class to form elements to trigger the animation */
.slide-in {
  animation: slideInFromLeft 0.5s ease-out forwards;
}
